.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
}

.main {
  flex: 1;
  padding: 0;
}

@media (min-width: 768px) {
  .main {
    padding: 0;
  }
}
